<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Through The Ages</title>
    <meta name="description" content="A journey through the eras of time...From the moment the first stone was bashed against another to make a sound, to the digital era of today. Music plays such a big role in a lot of peoples lives. This an image-based journey, an exploration, through its history.">
    <meta name="author" content="Karl Damus">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <h1>music through the ages</h1>
</body>
</html>